!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title
      Data Engineering
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    = render partial: 'layouts/top_nav'
    .row
      = render partial: 'layouts/messages'
      .small-6.large-2.columns
        &nbsp;
      .small-6.large-8.columns
        = yield
      .small-12.large-2.columns
        &nbsp;
    = javascript_include_tag "application"
    = content_for(:js_on_page)